.cart {
  padding: var(--height-header) 0;
  min-height: 90vh;
}
.cart table {
  box-shadow: 0 0 8px 1px;
}
.cart h2 {
  font-weight: 700;
  color: var(--primary-color);
}
.cart img {
  width: 100px;
}
.cart .quanlity {
  width: 70px;
}
.cart .quanlity:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.cart td {
  vertical-align: middle;
}
.remove i {
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}

.remove i:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.order__total td:last-of-type {
  text-align: right;
}

.comeback i {
  margin-right: 5px;
}

.cart .form-select:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}
