/* contact */
.contact {
  padding-top: var(--height-header);
}
.contact__content {
  margin: 50px 0;
}

.contact__info li {
  margin-bottom: 15px;
}
.contact__info i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  margin-right: 10px;
  font-size: 0.8rem;
}

.contact__content h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

.contact__info a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.contact__info a:hover {
  color: var(--primary-color);
}

.form__field {
  margin: 10px 0;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(167, 164, 164);
  transition: all 0.5s ease-out;
}

.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.form-group input:valid ~ .form-label,
.form-group input:focus ~ .form-label {
  transform: translate(5px, -165%);
  background-color: white;
  padding: 0 10px;
  color: var(--primary-color);
  letter-spacing: 0.5px;
}

.form-group textarea:valid ~ .form-label,
.form-group textarea:focus ~ .form-label {
  transform: translate(5px, -42px);
  background-color: white;
  padding: 0 10px;
  color: var(--primary-color);
  letter-spacing: 0.5px;
}

.form-group textarea:valid ~ .form-label::before,
.form-group textarea:focus ~ .form-label::before,
.form-group input:valid ~ .form-label::before,
.form-group input:focus ~ .form-label::before {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: var(--primary-color);
}

.form-group textarea:valid ~ .form-label::after,
.form-group textarea:focus ~ .form-label::after,
.form-group input:valid ~ .form-label::after,
.form-group input:focus ~ .form-label::after {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--primary-color);
}

.form-group textarea:valid ~ .form-label,
.form-group input:valid ~ .form-label {
  color: white;
  background-color: var(--primary-color);
}

.form-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  color: rgb(168, 168, 168);
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.form-message {
  display: block;
  margin-top: 10px;
}
