/* contact */
.contact {
  padding-top: var(--height-header);
}
.contact__content {
  margin: 50px 0;
}

.contact__info li {
  margin-bottom: 15px;
}
.contact__info i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  margin-right: 10px;
  font-size: 0.8rem;
}
.contact__content h2 {
  margin-bottom: 30px;
  font-weight: 700;
}

.contact__info a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.contact__info a:hover {
  color: var(--primary-color);
}
.contact__form .input__group {
  position: relative;
  margin-bottom: 20px;
}

.form-text {
  position: absolute;
  left: 14px;
  top: 50%;
  background: #fff;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
  color: #999;
  transition: all 0.5s;
}
.form-text {
  top: 25px;
  font-size: 16px;
}

.contact__form textarea {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact__form textarea:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}
.contact__form .form-control:not(:placeholder-shown) + .form-text,
.contact__form .form-control:focus + .form-text {
  top: 0;
  transition: all 0.5s ease;
  color: var(--primary-color);
  padding: 0 10px;
  font-size: 14px;
}
.form-group textarea {
  width: 100%;
  padding: 20px 12px;
  resize: none;
}
.contact .form-group {
  margin: 10px 0;
}
