.product {
  margin: 10px 0;
  min-height: 40vh;
}

.product__title {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.product__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  height: 100%;
  width: 100%;
}

.product__item-img {
  height: 60%;
}

.product__item-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product__item-description {
  padding: 10px 10px;
  height: 50%;
  transition: all 0.5s ease-out;
  width: 100%;
}

.product__item-name {
  margin-bottom: 0;
  color: #797979;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product__item-price {
  margin: 5px 0;
}

.product__item-rating {
  color: var(--primary-color);
}

.product__item-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  transition: all 0.5s ease-out;
}

.product__item-cart {
  transform: translate(-130%, -130%);
}

.product__item-order {
  transform: translate(130%, -130%);
}

.product__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.product__item:hover .product__item-buttons .product__item-cart,
.product__item:hover .product__item-buttons .product__item-order {
  transform: translate(0, 0);
}
