.product {
  padding-top: calc(var(--height-header) + 20px);
  min-height: 90vh;
}

.search__title {
  font-weight: 600;
  color: var(--primary-color);
}

.product__title {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

.product__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  height: 100%;
  width: 100%;
}

.product__item-img {
  height: 60%;
}

.product__item-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product__item-description {
  padding: 10px 10px;
  height: 50%;
  transition: all 0.5s ease-out;
  width: 100%;
}

.product__item-name {
  margin-bottom: 0;
  color: #797979;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product__item-price {
  margin: 5px 0;
}

.product__item-rating {
  color: var(--primary-color);
}

.product__item-buttons {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
  z-index: 1;
}
.product__item:hover .product__item-buttons,
.product__item:hover .product__item-buttons {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -20%);
}

.product__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
