:root {
  --primary-color: #e62b4a;
  --second-color: #1e90ff;
  --line-color: #dfe4ea;
  --background-color: #2f3542;
  --height-header: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  padding: 10px 28px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-out;
}

.btn.btn-primary {
  background-color: black;
  color: white;
}

.btn.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn.btn-update {
  background-color: var(--second-color);
  color: white;
}

.btn.btn-update:hover {
  opacity: 0.8;
}

.btn.btn-primary:focus,
.form-select:focus {
  box-shadow: none;
}

.mt-45 {
  margin-top: 45px;
}

.success {
  color: #2ed573;
}

.error {
  color: var(--primary-color);
}

/* Go to top */
.go-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(59 193 181);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 24px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  z-index: 1000;
}

.go-to-top:hover {
  color: black;
}

/* Header */
.header__active {
  color: var(--primary-color);
  display: block;
  text-decoration: none;
  margin: 0 15px;

  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  transition: all 0.5s ease-out;
  background-color: unset;
  border: none;
}
.header {
  background-color: var(--background-color);
  height: var(--height-header);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-img {
  height: 150%;
  width: 150%;
  object-fit: cover;
}

.header__navigation-link,
.header__access-link,
.header__cart-link {
  display: block;
  text-decoration: none;
  margin: 0 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  transition: all 0.5s ease-out;
  background-color: unset;
  border: none;
}

.header__navigation-link.header__navigation-link--active,
.header__navigation-link:hover,
.header__access-link:hover,
.header__cart-link:hover {
  color: var(--primary-color);
}

.header__access {
  position: relative;
}

.header__access-link {
  margin: 0 30px;
}

.header__access-link::after {
  display: block;
  content: "";
  border-right: 1px solid var(--line-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
}

.header__access-options {
  position: absolute;
  bottom: -86px;
  right: 32px;
  width: 200px;
  padding: 10px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.header__access:hover .header__access-options {
  opacity: 1;
  pointer-events: all;
}

.header__access-link::before {
  content: "";
  height: 20px;
  width: 100px;
  position: absolute;
  top: 21px;
  right: 0;
  display: block;
}

.header__access-options::after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: -8px;
  right: 39px;
}

.header__access-options .header__options-item {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-out;
  margin-bottom: 5px;
}

.header__access-options .header__options-item:hover {
  color: var(--primary-color);
}

.header__cart {
  position: relative;
}

.header__cart-link {
  font-size: 20px;
}

.header__cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: -10px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
}

.header__cart-box {
  position: absolute;
  top: 150%;
  right: 0;
  width: 450px;
  background-color: white;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
  display: none;
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__cart:hover .header__cart-box {
  display: block;
}

.header__cart-box::before {
  position: absolute;
  top: -20px;
  right: 10px;
  display: block;
  content: "";
  height: 30px;
  width: 40px;
}

.header__cart-box::after {
  position: absolute;
  top: -10px;
  right: 20px;
  display: block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotate(45deg);
}

.header__cart-list {
  max-height: 500px;
  overflow-y: scroll;
}

.header__cart-list::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

.header__cart-list::-webkit-scrollbar-track {
  width: 0px;
  border-radius: 20px;
}

.header__cart-list::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 20px;
  background-color: #ccc;
}

.header-cart-title {
  font-size: 18px;
  padding: 10px 20px 0 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.header-cart-title::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--line-color);
  margin-top: 10px;
}

.header__cart-item {
  flex: 1;
  padding: 10px 20px;
  transition: all 0.5s ease-out;
}

.header__cart-item:hover {
  background-color: #f1f2f6;
}

.cart__item-img {
  height: 100%;
  width: 20%;
  margin-right: 10px;
}

.cart__item-img img {
  width: 100%;
  height: 100%;
}

.cart__item-detail {
  flex: 1;
}

.cart__item-name,
.cart__item-quantity {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.cart__item-price {
  margin-bottom: 0;
  font-size: 14px;
  margin-top: 4px;
}

.header-cart-description {
  text-align: center;
  margin-bottom: 0;
  padding: 0 20px 10px;
}

.header-cart-description::before {
  display: block;
  content: "";
  border-bottom: 1px solid var(--line-color);
  margin-bottom: 10px;
}

/* Search */
.search {
  padding: 150px 0;
  background-image: url(../images/background.jpg!s2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: var(--height-header);
}

.search__box-input {
  width: 70%;
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.search__box-input:focus {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.search__title {
  font-weight: bold;
  color: white;
}

.search__title span {
  color: var(--primary-color);
}

/* Footer */
.footer {
  background-color: var(--background-color);
  padding: 30px 0;
  text-align: center;
}

.footer__social-link {
  font-size: 40px;
  text-decoration: none;
  color: white;
  margin: 30px;
  text-shadow: 0 0 50px #e62b4a, 0 0 200px #e62b4a;
  transition: all 0.5s ease-out;
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.footer__copyright {
  margin-top: 50px;
  color: white;
}

.footer__copyright a {
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}

.footer__copyright a:hover {
  opacity: 0.8;
}
